<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.web>
		<customErrors mode="Off" />
		<compilation debug="true" targetFramework="4.8" />
		<httpRuntime targetFramework="4.8" />
	</system.web>
	<system.webServer>
		<modules>
			<add name="Hooks" type="ParadimeWeb.WorkflowGen.WebServer.Modules.Hooks, ParadimeWeb.WorkflowGen.Web.UI.WebForms" preCondition="managedHandler" />
			<add name="Cookies" type="ParadimeWeb.WorkflowGen.WebServer.Modules.Cookies, ParadimeWeb.WorkflowGen.Web.UI.WebForms" preCondition="managedHandler" />
		</modules>
	</system.webServer>
</configuration>